/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url(gambar/landing1.jpg);
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #6a0000ba;
    font-family: 'Garamond', cursive;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #6a0000ba;
    border: none;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-family: 'Garamond', cursive;
}

button:hover {
    background-color: #ad0808;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}