/* General styles */
body {
    font-family: Arial, sans-serif;
    background-image:url(../gambar/lg.png) ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ad0808;
    margin-top: 20px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Table styles */
.table-section {
    margin: 20px;
    width: 90%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Action icons */
td a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

td a i {
    vertical-align: middle;
}

td a:hover i {
    color: #007BFF;
}

/* Form styles */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0 10px #860808;
    margin-bottom: 20px;
}

form table {
    width: 100%;
}

form td {
    padding: 10px;
}

form input[type="text"],
form input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #ad0808;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #860808;
}

/* Navigation */
nav {
    margin-bottom: 20px;
}

nav a {
    background-color: #ad0808;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
}

nav a:hover {
    background-color: #860808;
}
